page-details {
    .more_img{
        height: 80px;
        white-space: nowrap;
        margin-top: -2px;
        .item_img{
            display: inline-block;
            position: relative;
            border: 1px solid color($colors,light);
            &:before{
                content: '';
                position: absolute;
                top: 0;
                width: 100%;
                height: 170px;
                background: rgba(color($colors,blackcolor),.3);
            }
            &.active_select{
                &:before{
                    display: none;
                }
            }
            img{
                width: 80px;
                height: 80px;
                object-fit: cover;
            }
        }
    }

    .img-details {
        .mybackground {
            position: relative;
            text-align: center;
          }

        .card-title {
            position: absolute;
            top: 25%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 30%;
            width: 100%;
            color: #fff;
          }
    }

    .recipe_info{
        background: lighten(color($colors,GrayColor), 10%);
        .item-md{
            padding: 0;
            background: none;
            ion-icon{
                font-size: 1.8rem;
                margin: 0;
                line-height: 2.3rem;
            }
            .item-inner{
                margin-left: 5px;
                padding: 0;
                .label-md{
                    margin: 0;
                    p{
                        font-family:Roboto-Bold;
                        font-size: 1.2rem;
                        color: color($colors,dark);
                        span{
                            display: block;
                            font-family:Roboto-Light;
                        }
                    }
                }
            }
        }
    }

    
}
